﻿@{
    ViewBag.Title = "Exercise Input";
}

<h2>Please give me the necessary data so I can calculate how much calories you have burned.</h2>

@if (TempData.ContainsKey("myWarning"))
{
    <p style="font-weight:bold;color:red">@TempData["myWarning"]</p>
}

<form method="post" action="/NikDemo/Calories">
    Your name:<input type="text" name="Name" /> <br />
    Your weight (kg):<input type="text" name="Weight"/> <br />
    What type of sport you did:<select id="Sport" name="Sport"/>
    <option value="Running" selected>Running</option>
    <option value="Yoga">Yoga</option>
    <option value="Pilates">Pilates</option>
    <option value="Hiking">Hiking</option>
    <Option value="Swimming">Swimming</Option>
    <option value="Bicycle">Bicycle</option>
    </select> <br />
    How long did you do it (sec):<input type="text" name="Duration"/> <br />
    <input type="submit" value="CALCULATE" />
</form>

