﻿@{
    ViewBag.Title = "MilesInput";
}

<h2>Give me a value in KiloMeters</h2>

@if (TempData.ContainsKey("myWarning"))
{
    <p style="font-weight:bold;color:red">@TempData["myWarning"]</p>
}

<form method="post" action="/NikDemo/Miles">
    <input type="text" name="NumKmXXX" />
    <input type="submit" value="SEND" />
</form>

