﻿@model WebApplication1.Models.MilesResult
@{
    ViewBag.Title = "MilesResult";
}

<h2>MilesResult</h2>

<p>You wanted to convert @Model.OriginalInput KM. Well, that is ... </p>

<p>@Model.NumMiles miles.</p>
<p>@Model.NumYards yards.</p>

