﻿@model WebApplication1.Models.NumberItem[]
@{
    ViewBag.Title = "Numbers";
}

<h2>Numbers</h2>

<table border="1">
    <tr>
        @for (int i = 0; i < Model.Length; i++)
        {
            var tdStyle = "";
            if (Model[i].IsMax) { tdStyle += "background: green;"; }
            if (Model[i].IsPrime) { tdStyle += "color: red;"; }

            <td style="padding:10px;@tdStyle">@Model[i].Value</td>

            if ((i + 1) % 10 == 0)
            {
                // @Html.Raw("</tr><tr>\r\n")
                @: </tr><tr>
            }
        }
    </tr>
</table>