﻿@model Hardware_Inventory.Web.Models.Colleague

<h2>Edit colleague details</h2>

<h3>Colleague ID: @Model.ID - This can't be changed.</h3>

@using (Html.BeginForm("Edit", "Colleagues"))
{
    @Html.ValidationSummary()

    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.ID)
    @Html.Hidden("editAction",ViewData["editAction"].ToString());

    <div class="editor-label">@Html.LabelFor(m => m.Name)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Name)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Mail)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Mail)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Post)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Post)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Workplace)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Workplace)</div>

    <input type="submit" value="SAVE"/>
}
