﻿@model IEnumerable<Hardware_Inventory.Web.Models.Colleague>

<h2>List of Colleagues</h2>

@if (Model.Count() == 0)
{
    <p>No Data found</p>
}
else
{
    <table border="1">
        <tr>
        <th>@Html.DisplayNameFor(m => m.First().Name)</th>
        <th>@Html.DisplayNameFor(m => m.First().Post)</th>
        <th>Datasheet</th>
        <th>Delete</th>
        <th>Edit</th>
        </tr>
        @foreach (var item in Model)
        {
        <tr>
            <td>@Html.DisplayFor(m=>item.Name)</td>
            <td>@Html.DisplayFor(m => item.Post)</td>
            <td>@Html.ActionLink("[Check datasheet]","Details",new { id = item.ID })</td>
            <td>@Html.ActionLink("[Promote to Costumer]", "Delete", new { id = item.ID })</td>
            <td>@Html.ActionLink("[Manage Colleague]", "Edit", new { id = item.ID })</td>
        </tr>
        }
    </table>
}