﻿
@model Hardware_Inventory.Web.Models.Colleague
@{
    ViewBag.Title = "ColleagueDetails";
}

<h2>Datasheet for @Model.Name</h2>

@Html.ActionLink("Back to the list", "Index");

<table>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Name)</td>
        <td>@Model.Name </td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.ID)</td>
        <td>@Model.ID </td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Mail)</td>
        <td>@Model.Mail </td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Post)</td>
        <td>@Model.Post </td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Workplace)</td>
        <td>@Model.Workplace </td>
    </tr>
</table>