﻿@model Hardware_Inventory.Web.Models.ColleaguesViewModel
@{
    ViewBag.Title = "ColleagueIndex";
}

<h2>ColleagueIndex</h2>

<p style="color:red; font-weight:bold">@TempData["editResult"]</p>

@Html.Partial("ColleagueEdit", Model.EditedColleague)

@Html.Partial("ColleagueList", Model.ListOfColleagues)