﻿@model WebApplication1.Models.ExerciseOutput
@{
    ViewBag.Title = "ExerciseResult";
}

<h2>Burned Calories</h2>

<p>So you said your name is @Model.Name</p>

<p>You did @Model.Sport</p>
<p>Your weight is @Model.Weight Kg</p>
<p>For @Model.Duration minutes</p>
<p>So you burned approximately @Model.BurnedCalories calories</p>

